.cursor {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    background-color: transparent;
    transition: width 0.3s, height 0.3s;
    z-index: 1000;
}

.cursor-dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    background-color: rgb(25, 25, 25);
    z-index: 9999;
}

.cursor-inner {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(25, 25, 25, .2);
    pointer-events: none;
    z-index: 9999;
}

/* Efecto hover */
.cursor.active {
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(25, 25, 25, .2);
    pointer-events: none;
}

.cursor-dot.active,
.cursor-inner.active {
    display: none;
}

.cursor.tooltip-active, .cursor-dot.tooltip-active {
    display: none;
}

.cursor-inner.tooltip-active {
    height: 0;
    width: 0;
}

/* Efecto hover proyectos */
.tooltip {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(16px, 16px) scale(0);
    background-color: rgb(25, 25, 25);
    padding: 6px 12px;
    border-radius: 20px;
    transform-origin: left top;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    transition: opacity 0.2s, transform 0.2s, background-color 0.4s, box-shadow 0.4s;
}

.tooltip.active {
    opacity: 1;
    transform: translate(16px, 16px) scale(1);
}

.tooltip .tooltip-descripcion {
    font-size: 1.2rem;
    color: rgb(255, 251, 238);
}

.tooltip.image {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 6px;
}

.tooltip.image img {
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 0 10px #0003;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.tooltip.image span {
    min-width: 180px;
}