.cursor {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 0.5s, width 0.3s, height 0.3s;
    z-index: 1000;
}

.cursor-dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    background-color: rgb(25, 25, 25);
    z-index: 9999;
}

.cursor-inner {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(25, 25, 25, .2);
    pointer-events: none;
    z-index: 9999;
}

/* Efecto hover */
.cursor.active {
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(25, 25, 25, .2);
    
    pointer-events: none;
}

.cursor-dot.active, .cursor-inner.active {
    display: none;
}