.cursor {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: fixed;
    background-color: rgb(96, 104, 135);
    z-index: 10000;
}

.border {
    border: 1px solid rgb(25, 25, 25);
}

.inner {
    background-color: rgba(25, 25, 25, .2);
    transition: 200ms ease-out;
}