* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    height: 80px;
    background-color: blue;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container  {
    height: calc(100vh - 80px - 60px);
    width: 100vw;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    height: 50%;
    width: 50%;
    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opciones-home {
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer  {
    height: 60px;
    width: 100vw;
    background-color: yellow;
    position: absolute;
}