* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #191919;
    cursor: none;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(14px);
    z-index: 101;
}

/*Icono Menu Estilos*/
#icono-menu {
    width: 48px;
    height: 48px;
    position: relative;
}

#icono-menu span {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #191919;

    transform-origin: center;
    transition: transform 0.5s cubic-bezier(.3, .9, .3, .9);
}

/* Posiciones iniciales */
.circle-left-top {
    top: 7px;
    left: 7px;
}

.circle-right-top {
    top: 7px;
    right: 7px;
}

.circle-left-bottom {
    bottom: 7px;
    left: 7px;
}

.circle-right-bottom {
    bottom: 7px;
    right: 7px;
}

/* Animación con el Hover */
#icono-menu:hover .circle-left-top {
    transition-delay: 0.025s;
    transform: translate(142%, 142%);
}

#icono-menu:hover .circle-right-top {
    transition-delay: 0.05s;
    transform: translate(-142%, 142%);
}

#icono-menu:hover .circle-left-bottom {
    transition-delay: 0s;
    transform: translate(142%, -142%);
}

#icono-menu:hover .circle-right-bottom {
    transition-delay: 0.075s;
    transform: translate(-142%, -142%);
}

/* Animación cuando se quita el Hover */
#icono-menu:not(:hover) .circle-left-top {
    transition-delay: 0.075s;
    transform: translate(0, 0);
}

#icono-menu:not(:hover) .circle-right-top {
    transition-delay: 0.05s;
    transform: translate(0, 0);
}

#icono-menu:not(:hover) .circle-left-bottom {
    transition-delay: 0s;
    transform: translate(0, 0);
}

#icono-menu:not(:hover) .circle-right-bottom {
    transition-delay: 0.075s;
    transform: translate(0, 0);
}